<nav>

            <!-- logo and image-->
            <div class="logo-name">
                <div class="logo-image">
                    <img src="/css/logo/campus-website-favicon-color.png" alt="campus">
                </div>
                <span class="logo_name">CAMPUS</span>
            </div>
            <!-- logo and image-->

            <!---->

            <div class="menu-items">

                    <ul id="current-dash" class="nav-links">
                        <li><a href="/admin_dashboard">
                            <i id="current-icon"class="fa-solid fa-house"></i>
                            <span id="current-color"class="link-name">Dashboard</span>
                        </a></li>

                    </ul>
                    <ul id="upcoming-dash"class="nav-links">
                        <li><a href="/admin_upcomingdrive">
                            <i id="upcoming-icon"class="far fa-folder-open"></i>
                            <span id="upcoming-color"class="link-name">Upcoming Drives</span>
                        </a></li>

                    </ul>
                    <ul id="manage-dash"class="nav-links">
                        <li><a href="/manage_drive">
                            <i id="manage-icon"class="fa-solid fa-folder-plus"></i>
                            <span id="manage-color"class="link-name">Manage Drives</span>
                        </a></li>

                    </ul>
                    <ul id="admin_viewstudent" class="nav-links">
                        <li><a href="/admin_viewstudentlist">
                            <i id="admin_viewstudenticon" class="fa-solid fa-users"></i>
                            <span id="admin_viewstudent-color"class="link-name">View Student List</span>
                        </a></li>

                    </ul>
                    <ul id="manage_placement" class="nav-links">
                        <li><a href="/admin_manageplacement">
                            <i id="manage_placementicon"class="fa-solid fa-user-pen"></i>
                            <span id="management_placementcolor" class="link-name">Manage Placement</span>
                        </a></li>

                    </ul>
                    <ul id="manage_coordinator" class="nav-links">
                        <li><a href="/manage_coordinator">
                            <i id="manage_coordinatoricon" class="fa-solid fa-filter"></i>
                            <span id="manage_coordinatorcolor" class="link-name">Manage Coordinator</span>
                        </a></li>

                    </ul>
                    
                    <ul class="logout-mod">
                        <li class="mode">
                            <a href="">
                                <i class="fa-regular fa-moon"></i>
                                <span class="link-name">Dark Mode</span>
                            </a>
                            <div class="mode-toggle">
                                <span class="switch"></span>
                            </div>
                        </li>
                    </ul>  

                <!-- 
                     
                --> 

            </div>

</nav>
  <!--===========Nav bar ending ===========-->