<nav>

            <!-- logo and image-->
            <div class="logo-name">
                <div class="logo-image">
                    <img src="/css/logo/campus-website-favicon-color.png" alt="campus">
                </div>
                <span class="logo_name">CAMPUS</span>
            </div>
            <!-- logo and image-->

            <!---->

            <div class="menu-items">

                    <ul id="current-dash" class="nav-links">
                        <li><a href="/coordinator_dashboard">
                            <i id="current-icon"class="fa-solid fa-house"></i>
                            <span id="current-color"class="link-name">Dashboard</span>
                        </a></li>

                    </ul>
                    <ul id="upcoming-dash"class="nav-links">
                        <li><a href="/coordinator_upcomingdrive">
                            <i id="upcoming-icon"class="far fa-folder-open"></i>
                            <span id="upcoming-color"class="link-name">Upcoming Drives</span>
                        </a></li>

                    </ul>
                    <ul id="coordinator_view" class="nav-links">
                        <li><a href="/coordinator_viewstudentlist">
                            <i id="coordinator_viewicon" class="fa-solid fa-users"></i>
                            <span id="coordinator_viewcolor" class="link-name">View Student List</span>
                        </a></li>

                    </ul>
                    <ul id="coordinator_managestudent" class="nav-links">
                        <li><a href="/coordinator_managestudent">
                            <i id="coordinator_managestudenticon" class="fa-solid fa-user-pen"></i>
                            <span id="coordinator_managestudentcolor" class="link-name">Manage Student</span>
                        </a></li>

                    </ul>
                    <ul id="shortlistdrives" class="nav-links">
                        <li><a href="/shortlist_drive">
                            <i id="shortlistdrivesicon" class="fa-solid fa-filter"></i>
                            <span id="shortlistdrivescolor" class="link-name">Shortlist Drives</span>
                        </a></li>

                    </ul>
                    
                    <ul class="logout-mod">
                        <li class="mode">
                            <a href="">
                                <i class="fa-regular fa-moon"></i>
                                <span class="link-name">Dark Mode</span>
                            </a>
                            <div class="mode-toggle">
                                <span class="switch"></span>
                            </div>
                        </li>
                    </ul>  

                <!-- 
                     
                --> 

            </div>

</nav>
  <!--===========Nav bar ending ===========-->