<nav id="pos">
    <label><img src="/css/images/campus-logo.png" alt="Campus" width="200" height="70"></label>
    <ul>
        <li class="hom"><a href="/">Home</a></li>
        <li class="hom"><a href="/coordinator_login">Coordinator Login</a></li>
        <li class="hom"><a href="/admin_login" style="border-right: 2px solid black">Placement Login</a></li>
        <li><a href="/login"class="cla">Login</a></li>
        <li><a href="/signup" class="sig" id="box">Sign Up</a></li>
                    
    </ul>
               
</nav>