       <nav>
            <div class="logo-name">
                <div class="logo-image">
                    <img src="/css/logo/campus-website-favicon-color.png" alt="campus">
                </div>

                <span class="logo_name">CAMPUS</span>
            </div>
            
            <div class="menu-items">
                <ul  id="current" class="nav-links">
                    <li> <a href="/dashboard">
                         <i id="current-icon" class="fa-solid fa-house"></i>
                         <span class="link-name" id="current-color">Dashboard</span>
                    </a> </li>
                   
                </ul>
                <ul class="nav-links" id="stu-dash">
                    <li> <a href="/student_upcomingdrive">
                         <i id="stu-icon"class="far fa-folder-open"></i>
                         <span id="stu-color" class="link-name">Upcoming Drives</span>
                    </a> </li>
                   
                </ul>
                <ul class="nav-links">
                    <li> <a href="/">
                         <i class="fa-brands fa-windows"></i>
                         <span class="link-name">Back to Home</span>
                    </a> </li>
                   
                </ul>
                <ul class="nav-links">
                    <li> <a href="/offcampus">
                         <i class="fas fa-location-arrow"></i>
                         <span class="link-name">Off Campus</span>
                    </a> </li>
                   
                </ul>
                <ul class="logout-mod">
                    <li> <a href="/auth/logout">
                        <i class="fas fa-sign-out-alt"></i>
                        <span class="link-name">Logout</span>
                   </a> </li>

                    <li class="mode">
                        <a href="">
                            <i class="fa-regular fa-moon"></i>
                            <span class="link-name">Dark Mode</span>
                        </a> 
                        <div class="mode-toggle">
                            <span class="switch"></span>
                        </div> 
                    </li>

                </ul>
            </div>
        </nav>