<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Campus Recruitment</title>

        <!-- Favicon linking code-->
        <link rel="icon" type="image/x-icon" href="/css/logo/favicon.ico">
        <!----------------------CSS SIDE DASHBOARD LINKING CODE------------------->
        <link rel="stylesheet" type="text/css" href="/css/admin_sidedash.css">
        <!----------------------CSS LINKING CODE------------------->
        <link rel="stylesheet" type="text/css" href="/css/coordinator_signup.css">
        <!-- ICONS link-->
        <script src="https://kit.fontawesome.com/ccbd25d9fc.js" crossorigin="anonymous"></script>  <!--font link-->

    </head>
    <body>
        <!--====================Side Nav bar starting======================-->
        {{> admin_navbar}}
        <!--===========Nav bar ending ===========-->
        <!--setup navigation bar-->
        <section class="dashboard">
            <div class="top">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="setupbar">
                <div class="thingsbar">
                    <div class="set-link">
                        <i class="fa-brands fa-windows"></i>
                        <a class="navtext" href=""><span>Back to Home</span></a>
                    </div>
                    <div class="set-link">
                        <i class="fas fa-sign-out-alt"></i>
                        <a class="navtext"href="/auth/admin_logout"><span>Logout</span></a>
                    </div>
                    <div class="user-img">
                        <span class="userimg-design">
                            <i class="fa-solid fa-user"></i>
                        </span>         
                    </div>
                </div>
            </div>
                <!--setup navigation bar end-->
            <div class="manage">
                <div class="title">
                    <i class="fa-solid fa-users-gear"></i>
                    <span class="text">Create Coordinator Account</span>
                </div>
            </div>  
            {{#if msg}}
                <span class="{{msg_type}}">{{msg}}</span>
            {{/if}}
                   
            <form  action="/auth/coordinator_signup" method="POST">
                <div class="top-form">
                    <div class="fields">
                        <div class="input-container">
                            <label>Fullname: *</label>
                            <input type="text" name="fullname" placeholder="Enter Your Fullname" required>
                        </div>
                        <div class="input-container">
                            <label>Id: *</label>
                            <input type="text" name="regno" placeholder="Enter Your Regno" required>
                        </div>
                        <div class="input-container">
                            <label>Email: *</label>
                            <input type="email" name="email" placeholder="Enter Your Email" required>
                        </div>
                        <div class="input-container">
                            <label>Phonenumber: *</label>
                            <input type="text" name="phone" placeholder="Enter Your PhoneNumber" required>
                        </div>
                        <div class="input-container">
                            <label>Password: *</label>
                            <input type="password" name="password" id="password" placeholder="Enter Your Password" required>
                             <i id="access"class="fa-solid fa-eye-slash"></i>
                        </div>
                        <div class="radio-container">
                                <label>Gender: *</label>
                                <input type="radio" name="gender" value="male" required><label>Male</label>
                                <input type="radio" name="gender" value="female" ><label>Female</label>                             
                        </div>
                        <div class="input-container">
                                <label>Date of Birth: *</label> 
                                <input type="date" name="date" required>
                            
                        </div>
                        <div class="select-container">
                            <label>Select Your Department</label>
                            <select name="dep" required>
                                <option selected disabled hidden><label>Choose your dep</label></option>
                                <option name="CSE"value="1"><label>CSE</label></option>
                                <option name="ECE"value="3"><label>ECE</label></option>
                                <option name="IT"value="2"><label>IT</label></option>
                                <option name="BIO"value="4"><label>BIO</label></option>
                                <option name="MECH"value="5"><label>MECH</label></option>  
                                <option name="CIVIL"value="6"><label>CIVIL</label></option>  
                            </select>
                        </div>

                        <div class="address-field">
                            <label>Address: *</label>
                            <textarea name="textarea" rows="3" required></textarea>
                        </div>
                        
                    </div>
                    <div class="buttons">
                        <div class="button-field">
                            <button type="submit">Create</button>
                        </div>
                         <div class="back-field">
                            <a class="back" href="/manage_coordinator"> <button type="button">Back</button> </a>
                        </div>
                    </div>
                    
                   
                </div>
            
                
            </form>    

        </section>
        <script src="/darkmode.js"></script>
        <script src="/co_passeye.js"></script>
    </body>
</html>