<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Campus Recruitment</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/home_style.css">
        <link rel="stylesheet" type="text/css" href="/css/footer.css">           <!--footer css link-->
        <link rel="icon" type="image/x-icon" href="/css/logo/favicon.ico">       <!--favicon image link-->
        <script src="https://kit.fontawesome.com/ccbd25d9fc.js" crossorigin="anonymous"></script>  <!--font link-->

    </head>
    <body>
        <nav id="pos">
            <label class="logo"><img src="/css/images/campus-logo.png" alt="campus"width="200" height="70"></label>
                <ul>
                    <li class="home"><a href="/">Home</a></li>
                    <li class="home"><a href="/coordinator_login">Coordinator Login</a></li>
                    <li class="home"><a style="border-right: 2px solid black;"href="/admin_login">Placement Login</a></li>
                    <li><a class="cl" href="/login">Login</a></li>
                    <li><a class="sign" id="box" href="/signup">Sign Up</a></li>
                   
                </ul>
        </nav>
        
 <img src="/css/images/campus-college.jpg" style="background-size: cover;" alt="campus system" width="100%" height="700">
             
        
       
  <!--this is footer part and another css footer part will be linked-->
        <footer class="foot">
            <div class="container">
                <div class="row">

                    <div class="footer-col">
                        <h4 >Navigation</h4>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="">Student Login</a></li>
                                <li><a href="">Placement Login</a></li>
                                <li><a href="">Hod Login</a></li>    
                            </ul>
                    </div>

                    <div class="footer-col">
                        <h4>More</h4>
                            <ul>
                                <li><a href="">Placement Details</a></li>
                                <li><a href="">Recruiters</a></li>
                                <li><a href="">Training Details</a></li>
                                <li><a href="">Contact Us</a></li>

                            </ul>

                    </div>
                    <div class="footer-col">
                        <h4>Get In Touch</h4>
                            <ul>
                                <li>Sethu Institute of Technology</li>
                                <li>Kariapatti</li>
                                <li>Contact</li>   
                                <li>0452-101001</li> 
                            </ul>

                    </div>
                    <div class="footer-col">
                        <h4>Follow Us</h4>
                            <div class="social">
                                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                                <a href="#"><i class="fa-brands fa-youtube"></i></a>
                            </div>
                    </div>
                </div>
            </div>


        </footer>
        <!--footer part ending-->


    </body>



</html>