:root{
    /* ====colors====*/
    --current-text: #fff;
    --current-select : royalblue;
    --mybg-color:rgba(226, 232, 232, 0.858);
    --primary-color: #0E4BF1;
    --panel-color: #fff;
    --text-color: #000;
    --black-light-color: #3e3a3a;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --box1-color: #E7D1FC;
    --box2-color: #FFE6AC;
    --box3-color: #4DA3FF;
    --title-icon-color: #fff;
    
    /*========= transition ========*/
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-02: all 0.2s ease;
}
body.dark{
    
   --current-text: #000;
   --current-select : #fff;
   --mybg-color:#242526;
   --primary-color: #3A3B3C;
   --panel-color: #242526;
   --text-color: #CCC;
   --black-light-color: #CCC;
   --border-color: #4D4C4C;
   --toggle-color: #FFF;
   --box1-color: #3A3B3C;
   --box2-color: #3A3B3C;
   --box3-color: #3A3B3C;
   --title-icon-color: #CCC;
   transition: var(--tran-03);
}
.dashboard .manage{
    
    height: 35px;
    padding-left: 10px;
    justify-content: center;
}
.manage .title{
    display: flex;
    align-items: center;
    margin : 40px 0 15px 0;
}
.manage .title i{
    position: relative;
    height: 30px;
    width: 30px;
    background-color: var(--primary-color);
    border-radius: 6px;
    color: var(--title-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;

}
.manage .title .text{

    font-family: sans-serif;
    font-size: 20px;
    margin-left: 10px;
    font-weight: 500;
    color: var(--text-color);
}
/* viewstudent form design starts here*/
.dashboard .form-top{
    height: 70px;
    margin-top: 0px;
    padding-top: 5px;
}
.form-top .form-mid{
    height: 300px;
}
.form-top .form-mid form{
    display: flex;
    height: 70px;
}
.form-top form .input-field,.history-field{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    padding: 5px 15px 5px 1px;  
}
form .input-field input{
   height: 35px;
   width: 35px;
   font-size: 15px;
   border-radius: 3px;
   border: 1px solid silver;
   opacity: 0.8;
   outline: none;
   color: rgb(18, 16, 16);
   padding: 3px 10px;
}
form .input-field input:focus,.history-field input:focus{
    border: 1.5px solid rgb(47, 99, 255); 
    background-color: white;
}
form .history-field input{
    height: 35px;
    width: 100px;
    font-size: 15px;
    border-radius: 3px;
    border: 1px solid silver;
    opacity: 0.8;
    outline: none;
    color: rgb(18, 16, 16);
    padding: 2px 10px;
 }
form .input-field select{
    height: 28px;
    width: 150px;
    font-size: 15px;
    border-radius: 3px;
    border: 1px solid silver;
    opacity: 0.8;
    outline: none;
    color: rgb(18, 16, 16);
    padding: 0 5px;
}
.input-field select:focus{
    border-color: royalblue;
 }
.input-field select:hover{
   color: #333;
}
form .button-field{
    display: flex;
    flex-direction: column;
    padding: 5px;
    outline: none;
   
}
form .button-field input[type="submit"]{
    margin-top: 25.5px;
    width: 120px;
    height: 30px;
    cursor: pointer;
    line-height: 25px;
    background-color:royalblue;
    color: rgba(255, 255, 255, 0.893);
    border-radius: 3px;
    outline: #4a4a4a;
    border: 1px solid royalblue;
}
form .button-field input[type="submit"]:hover{
    background-color: rgb(43, 95, 250);
}
.select-text,.ten-text,.twel-text,
.cgpa-text,.his-text,.sta-text{
    font-size: 17px;
    font-family: sans-serif;
    padding: 5px 0px;
}
.ten-text2,.twel-text2,.cgpa-text2{
    font-size: 17px;
    font-family: sans-serif;
    padding: 3px 0px;
    margin-left: 15px;
}
.his-text2,.sta-text2{
    font-size: 17px;
    font-family: sans-serif;
    padding: 5px 0px;
    margin-left: 50px;
}
/* viewstudent form design ends here*/
/* note text */
.note{
    height: 20px;
    width: auto;
    color: green;
    margin-left: 10px;
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
}

/* note text */
/* table design starts here*/
.dashboard .table-container{
    width: 99%;
    height: 600px;
    overflow-y: auto;
    overflow-x: auto;
    margin: 50px auto auto 10px;
    
 }
 .table-container .table{
     width: 100%;
     border-collapse: collapse;
 }
 .table thead tr th{
     font-size: 17px;
     font-family: sans-serif;
     letter-spacing: 0.35px;
     color: #fff;
     padding: 15px;
     background-color: #0E4BF1;
     border-bottom: 2px solid rgba(210,217,231,.6);
   
 }
 .table tbody tr td{
     font-size: 17px;
     font-family: sans-serif;
     padding: 15px;
     border-bottom: 2px solid rgba(210,217,231,.6);
     background-color: #fff; 
 }

 /* table design ends here*/
 /* select department error */
 .error{
    color: red;
    margin-left: 10px;
    font-size: 19px;
    font-weight: bold;
}
 /* select department error */
 /* admin viewstudent current select color*/
#admin_viewstudent{
    background-color: var(--current-select);
}
#admin_viewstudenticon{
 color: var(--current-text);
}
#admin_viewstudent-color{
 color: var(--current-text);
}